USE [master]
GO
/****** Object:  Database [TempData-A-Store]    Script Date: 10/28/2021 7:52:13 PM ******/
CREATE DATABASE [TempData-A-Store]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TempData-A-Store', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\TempData-A-Store.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TempData-A-Store_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\TempData-A-Store_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TempData-A-Store].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TempData-A-Store]
GO
/****** Object:  Table [dbo].[CARTDETAILS]    Script Date: 10/28/2021 7:52:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CARTDETAILS](
	[CartID] [uniqueidentifier] NOT NULL,
	[ItemID] [uniqueidentifier] NOT NULL,
	[ItemQuantity] [int] NOT NULL,
	[ItemPrice] [decimal](8, 2) NOT NULL,
	[Completed] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CartID] ASC,
	[ItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CARTS]    Script Date: 10/28/2021 7:52:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CARTS](
	[CartID] [uniqueidentifier] NOT NULL,
	[UserID] [uniqueidentifier] NOT NULL,
	[OrderAmount] [decimal](10, 2) NOT NULL,
	[Completed] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[CartID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CATEGORIES]    Script Date: 10/28/2021 7:52:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORIES](
	[CategoryID] [uniqueidentifier] NOT NULL,
	[CategoryName] [nvarchar](50) NOT NULL,
	[CategoryDescription] [nvarchar](50) NOT NULL,
	[DepartmentID] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DEPARTMENTS]    Script Date: 10/28/2021 7:52:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DEPARTMENTS](
	[DepartmentID] [uniqueidentifier] NOT NULL,
	[Departmentname] [nvarchar](50) NOT NULL,
	[DepartmentDescription] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_DEPARTMENTS] PRIMARY KEY CLUSTERED 
(
	[DepartmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ITEMS]    Script Date: 10/28/2021 7:52:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ITEMS](
	[ItemID] [uniqueidentifier] NOT NULL,
	[ItemName] [nvarchar](50) NOT NULL,
	[ItemDescription] [nvarchar](50) NOT NULL,
	[ItemPrice] [decimal](8, 2) NOT NULL,
	[CategoryID] [uniqueidentifier] NOT NULL,
	[SellerID] [uniqueidentifier] NOT NULL,
	[CreatedDate] [smalldatetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ORDERDETAILS]    Script Date: 10/28/2021 7:52:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORDERDETAILS](
	[OrderID] [uniqueidentifier] NOT NULL,
	[ItemID] [uniqueidentifier] NOT NULL,
	[ItemQuantity] [int] NOT NULL,
	[ItemPrice] [decimal](8, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC,
	[ItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ORDERS]    Script Date: 10/28/2021 7:52:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORDERS](
	[OrderID] [uniqueidentifier] NOT NULL,
	[UserID] [uniqueidentifier] NOT NULL,
	[PaymentID] [uniqueidentifier] NOT NULL,
	[OrderAmount] [decimal](10, 2) NOT NULL,
	[OrderDate] [smalldatetime] NOT NULL,
	[ShipDate] [smalldatetime] NULL,
	[Completed] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PAYMENTTYPES]    Script Date: 10/28/2021 7:52:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAYMENTTYPES](
	[PaymentID] [uniqueidentifier] NOT NULL,
	[PaymentType] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USERS]    Script Date: 10/28/2021 7:52:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERS](
	[UserID] [uniqueidentifier] NOT NULL,
	[UserFirst] [nvarchar](50) NOT NULL,
	[UserLast] [nvarchar](50) NOT NULL,
	[UserAddress1] [nvarchar](300) NULL,
	[UserAddress2] [nvarchar](300) NULL,
	[UserCity] [varchar](50) NULL,
	[UserZip] [int] NOT NULL,
	[UserState] [varchar](30) NOT NULL,
	[PaymentID] [uniqueidentifier] NULL,
	[UserUID] [varchar](50) NULL,
	[UserRole] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CARTDETAILS] ([CartID], [ItemID], [ItemQuantity], [ItemPrice], [Completed]) VALUES (N'4b6e5302-4e38-ec11-8b53-5cea1db77666', N'85a682dd-4c38-ec11-8b53-5cea1db77666', 1, CAST(50.00 AS Decimal(8, 2)), 0)
INSERT [dbo].[CARTDETAILS] ([CartID], [ItemID], [ItemQuantity], [ItemPrice], [Completed]) VALUES (N'4b6e5302-4e38-ec11-8b53-5cea1db77666', N'86a682dd-4c38-ec11-8b53-5cea1db77666', 2, CAST(1800.00 AS Decimal(8, 2)), 0)
INSERT [dbo].[CARTDETAILS] ([CartID], [ItemID], [ItemQuantity], [ItemPrice], [Completed]) VALUES (N'e4182825-4e38-ec11-8b53-5cea1db77666', N'85a682dd-4c38-ec11-8b53-5cea1db77666', 1, CAST(50.00 AS Decimal(8, 2)), 0)
GO
INSERT [dbo].[CARTS] ([CartID], [UserID], [OrderAmount], [Completed]) VALUES (N'4b6e5302-4e38-ec11-8b53-5cea1db77666', N'28b4b6bc-4a38-ec11-8b53-5cea1db77666', CAST(1850.00 AS Decimal(10, 2)), 0)
INSERT [dbo].[CARTS] ([CartID], [UserID], [OrderAmount], [Completed]) VALUES (N'e4182825-4e38-ec11-8b53-5cea1db77666', N'29b4b6bc-4a38-ec11-8b53-5cea1db77666', CAST(950.00 AS Decimal(10, 2)), 0)
INSERT [dbo].[CARTS] ([CartID], [UserID], [OrderAmount], [Completed]) VALUES (N'e5182825-4e38-ec11-8b53-5cea1db77666', N'2ab4b6bc-4a38-ec11-8b53-5cea1db77666', CAST(950.00 AS Decimal(10, 2)), 0)
GO
INSERT [dbo].[CATEGORIES] ([CategoryID], [CategoryName], [CategoryDescription], [DepartmentID]) VALUES (N'f15f44fc-4838-ec11-8b53-5cea1db77666', N'Lawn', N'Keep Dad ocupied in the yard', N'f9730b51-4838-ec11-8b53-5cea1db77666')
INSERT [dbo].[CATEGORIES] ([CategoryID], [CategoryName], [CategoryDescription], [DepartmentID]) VALUES (N'f25f44fc-4838-ec11-8b53-5cea1db77666', N'Equipment', N'Tools that Dad thinks are dangerous', N'f9730b51-4838-ec11-8b53-5cea1db77666')
INSERT [dbo].[CATEGORIES] ([CategoryID], [CategoryName], [CategoryDescription], [DepartmentID]) VALUES (N'f35f44fc-4838-ec11-8b53-5cea1db77666', N'Clothing', N'keep Dad looking good with the threads', N'fa730b51-4838-ec11-8b53-5cea1db77666')
GO
INSERT [dbo].[DEPARTMENTS] ([DepartmentID], [Departmentname], [DepartmentDescription]) VALUES (N'f9730b51-4838-ec11-8b53-5cea1db77666', N'Outdoor', N'Get Dad out of the house')
INSERT [dbo].[DEPARTMENTS] ([DepartmentID], [Departmentname], [DepartmentDescription]) VALUES (N'fa730b51-4838-ec11-8b53-5cea1db77666', N'Indoor', N'Keep Dad in the house')
GO
INSERT [dbo].[ITEMS] ([ItemID], [ItemName], [ItemDescription], [ItemPrice], [CategoryID], [SellerID], [CreatedDate]) VALUES (N'84a682dd-4c38-ec11-8b53-5cea1db77666', N'Mower', N'Grass Height Setting Equipment', CAST(1500.00 AS Decimal(8, 2)), N'f15f44fc-4838-ec11-8b53-5cea1db77666', N'28b4b6bc-4a38-ec11-8b53-5cea1db77666', CAST(N'2021-10-28T19:12:00' AS SmallDateTime))
INSERT [dbo].[ITEMS] ([ItemID], [ItemName], [ItemDescription], [ItemPrice], [CategoryID], [SellerID], [CreatedDate]) VALUES (N'85a682dd-4c38-ec11-8b53-5cea1db77666', N'Clippers', N'Bushes growth regulator', CAST(50.00 AS Decimal(8, 2)), N'f15f44fc-4838-ec11-8b53-5cea1db77666', N'28b4b6bc-4a38-ec11-8b53-5cea1db77666', CAST(N'2021-10-28T19:12:00' AS SmallDateTime))
INSERT [dbo].[ITEMS] ([ItemID], [ItemName], [ItemDescription], [ItemPrice], [CategoryID], [SellerID], [CreatedDate]) VALUES (N'86a682dd-4c38-ec11-8b53-5cea1db77666', N'Grill', N'Caveman tool for cooking', CAST(900.00 AS Decimal(8, 2)), N'f25f44fc-4838-ec11-8b53-5cea1db77666', N'29b4b6bc-4a38-ec11-8b53-5cea1db77666', CAST(N'2021-10-28T19:12:00' AS SmallDateTime))
GO
INSERT [dbo].[ORDERDETAILS] ([OrderID], [ItemID], [ItemQuantity], [ItemPrice]) VALUES (N'2959f87c-4d38-ec11-8b53-5cea1db77666', N'85a682dd-4c38-ec11-8b53-5cea1db77666', 1, CAST(50.00 AS Decimal(8, 2)))
INSERT [dbo].[ORDERDETAILS] ([OrderID], [ItemID], [ItemQuantity], [ItemPrice]) VALUES (N'2959f87c-4d38-ec11-8b53-5cea1db77666', N'86a682dd-4c38-ec11-8b53-5cea1db77666', 2, CAST(1800.00 AS Decimal(8, 2)))
INSERT [dbo].[ORDERDETAILS] ([OrderID], [ItemID], [ItemQuantity], [ItemPrice]) VALUES (N'2959f87c-4d38-ec11-8b53-5cea1db77666', N'87a682dd-4c38-ec11-8b53-5cea1db77666', 1, CAST(25.00 AS Decimal(8, 2)))
GO
INSERT [dbo].[ORDERS] ([OrderID], [UserID], [PaymentID], [OrderAmount], [OrderDate], [ShipDate], [Completed]) VALUES (N'2959f87c-4d38-ec11-8b53-5cea1db77666', N'28b4b6bc-4a38-ec11-8b53-5cea1db77666', N'83560c69-4938-ec11-8b53-5cea1db77666', CAST(2060.00 AS Decimal(10, 2)), CAST(N'2021-10-28T19:17:00' AS SmallDateTime), NULL, 0)
INSERT [dbo].[ORDERS] ([OrderID], [UserID], [PaymentID], [OrderAmount], [OrderDate], [ShipDate], [Completed]) VALUES (N'2a59f87c-4d38-ec11-8b53-5cea1db77666', N'29b4b6bc-4a38-ec11-8b53-5cea1db77666', N'84560c69-4938-ec11-8b53-5cea1db77666', CAST(1060.00 AS Decimal(10, 2)), CAST(N'2021-10-28T19:17:00' AS SmallDateTime), NULL, 0)
INSERT [dbo].[ORDERS] ([OrderID], [UserID], [PaymentID], [OrderAmount], [OrderDate], [ShipDate], [Completed]) VALUES (N'2b59f87c-4d38-ec11-8b53-5cea1db77666', N'2ab4b6bc-4a38-ec11-8b53-5cea1db77666', N'85560c69-4938-ec11-8b53-5cea1db77666', CAST(1060.00 AS Decimal(10, 2)), CAST(N'2021-10-28T19:17:00' AS SmallDateTime), NULL, 0)
GO
INSERT [dbo].[PAYMENTTYPES] ([PaymentID], [PaymentType]) VALUES (N'83560c69-4938-ec11-8b53-5cea1db77666', N'Visa')
INSERT [dbo].[PAYMENTTYPES] ([PaymentID], [PaymentType]) VALUES (N'84560c69-4938-ec11-8b53-5cea1db77666', N'Mastercard')
INSERT [dbo].[PAYMENTTYPES] ([PaymentID], [PaymentType]) VALUES (N'85560c69-4938-ec11-8b53-5cea1db77666', N'American Express')
GO
INSERT [dbo].[USERS] ([UserID], [UserFirst], [UserLast], [UserAddress1], [UserAddress2], [UserCity], [UserZip], [UserState], [PaymentID], [UserUID], [UserRole]) VALUES (N'28b4b6bc-4a38-ec11-8b53-5cea1db77666', N'Bob', N'Belcher', N'1001 bourger street Seymours Bay', N'', N'San Francisco', 90210, N'California', N'83560c69-4938-ec11-8b53-5cea1db77666', N'wC4H5aEkpQM6NMYw4ygJNa45UJo1', N'CUSTOMER')
INSERT [dbo].[USERS] ([UserID], [UserFirst], [UserLast], [UserAddress1], [UserAddress2], [UserCity], [UserZip], [UserState], [PaymentID], [UserUID], [UserRole]) VALUES (N'29b4b6bc-4a38-ec11-8b53-5cea1db77666', N'Hank', N'Hill', N'1002 The Hank Hill Homestead', N'', N'Arlen', 75216, N'Texas', N'84560c69-4938-ec11-8b53-5cea1db77666', N'qCbslP4fmcSqLEN3rASXK0OkcoM2', N'CUSTOMER')
INSERT [dbo].[USERS] ([UserID], [UserFirst], [UserLast], [UserAddress1], [UserAddress2], [UserCity], [UserZip], [UserState], [PaymentID], [UserUID], [UserRole]) VALUES (N'2ab4b6bc-4a38-ec11-8b53-5cea1db77666', N'Bob', N'Parr', N'440 Somewhere', N'', N'Metroville', 70000, N'Texas', N'85560c69-4938-ec11-8b53-5cea1db77666', N'KJeZh0Bov3NNCwHc88jCxcFcf3J3', N'CUSTOMER')
GO
ALTER TABLE [dbo].[CARTDETAILS] ADD  DEFAULT ((0)) FOR [ItemQuantity]
GO
ALTER TABLE [dbo].[CARTDETAILS] ADD  DEFAULT ((0.0)) FOR [ItemPrice]
GO
ALTER TABLE [dbo].[CARTDETAILS] ADD  DEFAULT ((0)) FOR [Completed]
GO
ALTER TABLE [dbo].[CARTS] ADD  DEFAULT (newsequentialid()) FOR [CartID]
GO
ALTER TABLE [dbo].[CARTS] ADD  DEFAULT ('') FOR [UserID]
GO
ALTER TABLE [dbo].[CARTS] ADD  DEFAULT ((0.0)) FOR [OrderAmount]
GO
ALTER TABLE [dbo].[CARTS] ADD  DEFAULT ((0)) FOR [Completed]
GO
ALTER TABLE [dbo].[CATEGORIES] ADD  DEFAULT (newsequentialid()) FOR [CategoryID]
GO
ALTER TABLE [dbo].[CATEGORIES] ADD  DEFAULT ('') FOR [CategoryName]
GO
ALTER TABLE [dbo].[CATEGORIES] ADD  DEFAULT ('') FOR [CategoryDescription]
GO
ALTER TABLE [dbo].[DEPARTMENTS] ADD  DEFAULT (newsequentialid()) FOR [DepartmentID]
GO
ALTER TABLE [dbo].[DEPARTMENTS] ADD  DEFAULT ('') FOR [Departmentname]
GO
ALTER TABLE [dbo].[DEPARTMENTS] ADD  DEFAULT ('') FOR [DepartmentDescription]
GO
ALTER TABLE [dbo].[ITEMS] ADD  DEFAULT (newsequentialid()) FOR [ItemID]
GO
ALTER TABLE [dbo].[ITEMS] ADD  DEFAULT ('') FOR [ItemName]
GO
ALTER TABLE [dbo].[ITEMS] ADD  DEFAULT ('') FOR [ItemDescription]
GO
ALTER TABLE [dbo].[ITEMS] ADD  DEFAULT ((0.0)) FOR [ItemPrice]
GO
ALTER TABLE [dbo].[ITEMS] ADD  DEFAULT (CONVERT([smalldatetime],getdate())) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[ORDERDETAILS] ADD  DEFAULT ((0)) FOR [ItemQuantity]
GO
ALTER TABLE [dbo].[ORDERDETAILS] ADD  DEFAULT ((0.0)) FOR [ItemPrice]
GO
ALTER TABLE [dbo].[ORDERS] ADD  DEFAULT (newsequentialid()) FOR [OrderID]
GO
ALTER TABLE [dbo].[ORDERS] ADD  DEFAULT ('') FOR [UserID]
GO
ALTER TABLE [dbo].[ORDERS] ADD  DEFAULT ('') FOR [PaymentID]
GO
ALTER TABLE [dbo].[ORDERS] ADD  DEFAULT ((0.0)) FOR [OrderAmount]
GO
ALTER TABLE [dbo].[ORDERS] ADD  DEFAULT (CONVERT([smalldatetime],getdate())) FOR [OrderDate]
GO
ALTER TABLE [dbo].[ORDERS] ADD  DEFAULT ((0)) FOR [Completed]
GO
ALTER TABLE [dbo].[PAYMENTTYPES] ADD  DEFAULT (newsequentialid()) FOR [PaymentID]
GO
ALTER TABLE [dbo].[PAYMENTTYPES] ADD  DEFAULT ('') FOR [PaymentType]
GO
ALTER TABLE [dbo].[USERS] ADD  DEFAULT (newsequentialid()) FOR [UserID]
GO
ALTER TABLE [dbo].[USERS] ADD  DEFAULT ('') FOR [UserFirst]
GO
ALTER TABLE [dbo].[USERS] ADD  DEFAULT ('') FOR [UserLast]
GO
ALTER TABLE [dbo].[USERS] ADD  DEFAULT ('') FOR [UserAddress1]
GO
ALTER TABLE [dbo].[USERS] ADD  DEFAULT ('') FOR [UserAddress2]
GO
ALTER TABLE [dbo].[USERS] ADD  DEFAULT ('') FOR [UserCity]
GO
ALTER TABLE [dbo].[USERS] ADD  DEFAULT ((0)) FOR [UserZip]
GO
ALTER TABLE [dbo].[USERS] ADD  DEFAULT ('') FOR [UserState]
GO
ALTER TABLE [dbo].[USERS] ADD  DEFAULT ('CUSTOMER') FOR [UserRole]
GO
ALTER TABLE [dbo].[CARTDETAILS]  WITH CHECK ADD FOREIGN KEY([CartID])
REFERENCES [dbo].[CARTS] ([CartID])
GO
ALTER TABLE [dbo].[CARTDETAILS]  WITH CHECK ADD FOREIGN KEY([ItemID])
REFERENCES [dbo].[ITEMS] ([ItemID])
GO
ALTER TABLE [dbo].[CARTS]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[USERS] ([UserID])
GO
ALTER TABLE [dbo].[CATEGORIES]  WITH CHECK ADD  CONSTRAINT [FK_CATEGORIES] FOREIGN KEY([DepartmentID])
REFERENCES [dbo].[DEPARTMENTS] ([DepartmentID])
GO
ALTER TABLE [dbo].[CATEGORIES] CHECK CONSTRAINT [FK_CATEGORIES]
GO
ALTER TABLE [dbo].[ITEMS]  WITH CHECK ADD  CONSTRAINT [FK_ITEMS] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[CATEGORIES] ([CategoryID])
GO
ALTER TABLE [dbo].[ITEMS] CHECK CONSTRAINT [FK_ITEMS]
GO
ALTER TABLE [dbo].[ITEMS]  WITH CHECK ADD  CONSTRAINT [FK_ITEMSSellerID] FOREIGN KEY([SellerID])
REFERENCES [dbo].[USERS] ([UserID])
GO
ALTER TABLE [dbo].[ITEMS] CHECK CONSTRAINT [FK_ITEMSSellerID]
GO
ALTER TABLE [dbo].[ORDERDETAILS]  WITH CHECK ADD FOREIGN KEY([ItemID])
REFERENCES [dbo].[ITEMS] ([ItemID])
GO
ALTER TABLE [dbo].[ORDERDETAILS]  WITH CHECK ADD FOREIGN KEY([OrderID])
REFERENCES [dbo].[ORDERS] ([OrderID])
GO
ALTER TABLE [dbo].[ORDERS]  WITH CHECK ADD FOREIGN KEY([PaymentID])
REFERENCES [dbo].[PAYMENTTYPES] ([PaymentID])
GO
ALTER TABLE [dbo].[ORDERS]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[USERS] ([UserID])
GO
ALTER TABLE [dbo].[USERS]  WITH CHECK ADD  CONSTRAINT [FK_USERS] FOREIGN KEY([PaymentID])
REFERENCES [dbo].[PAYMENTTYPES] ([PaymentID])
GO
ALTER TABLE [dbo].[USERS] CHECK CONSTRAINT [FK_USERS]
GO
USE [master]
GO
