// .nav-link {
//   display: inline;
//   justify-content: space-between;
//   width: 100%;
//   font-size: 20px;
//   }

  .navBar {
    display: inline;
    width: 100%;
    padding: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .mr-auto {
    justify-content: space-between;
  }

  .nav-link {
    font-family:Arial, Helvetica, sans-serif;
    margin-left: 20px;
    justify-content: space-between;

  }
